In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from itertools import cycle
pd.set_option('max_columns', 50)
plt.style.use('bmh')
color_cycle = cycle(plt.rcParams['axes.prop_cycle'].by_key()['color'])

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
# Read in the data
INPUT_DIR = '/kaggle/input/m5-forecasting-uncertainty/'
cal = pd.read_csv(f'{INPUT_DIR}/calendar.csv')
stv = pd.read_csv(f'{INPUT_DIR}/sales_train_validation.csv')
ss = pd.read_csv(f'{INPUT_DIR}/sample_submission.csv')
sellp = pd.read_csv(f'{INPUT_DIR}/sell_prices.csv')

## query文で簡単に部分抽出可能
参考サイト: [小ネタ: Pandasでqueryを使って行を選択する](https://ohke.hateblo.jp/entry/2019/01/12/230000)

In [17]:
# stvは以下のクエリを書き換えれば良い
shop_extract_info = 'CA_1' # {CA, TX, WI}, {CA_1,...}
item_extract_info = 'HOBBIES_1' # {FOODS, HOBBIES, HOUSEHOLD}, {FOOD_1,...}

q4shop = "store_id.str.startswith(@shop_extract_info)"
q4item = "item_id.str.startswith(@item_extract_info)"
if shop_extract_info != None and item_extract_info != None:
    q4sellp = q4shop + " & " + q4item
elif shop_extract_info != None:
    q4sellp = q4shop
elif item_extract_info != None:
    q4sellp = q4item

sub_sellp = sellp.query(q4sellp, engine='python')

      store_id        item_id  wm_yr_wk  sell_price
0         CA_1  HOBBIES_1_001     11325        9.58
1         CA_1  HOBBIES_1_001     11326        9.58
2         CA_1  HOBBIES_1_001     11327        8.26
3         CA_1  HOBBIES_1_001     11328        8.26
4         CA_1  HOBBIES_1_001     11329        8.26
...        ...            ...       ...         ...
96732     CA_1  HOBBIES_1_424     11617        1.77
96733     CA_1  HOBBIES_1_424     11618        1.77
96734     CA_1  HOBBIES_1_424     11619        1.77
96735     CA_1  HOBBIES_1_424     11620        1.77
96736     CA_1  HOBBIES_1_424     11621        1.77

[96737 rows x 4 columns]

In [12]:
# stvは以下のクエリを書き換えれば良い
q4stv = "dept_id == 'HOBBIES_1' & state_id == 'CA'"
sub_stv = stv.query(q4stv)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,d_11,d_12,d_13,d_14,d_15,d_16,d_17,d_18,d_19,...,d_1889,d_1890,d_1891,d_1892,d_1893,d_1894,d_1895,d_1896,d_1897,d_1898,d_1899,d_1900,d_1901,d_1902,d_1903,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,4,2,3,0,1,2,0,0,0,1,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0,0,0,0,1,2,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,3,1,2,1,3,1,0,2,5,4,2,0,3,0,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,4,0,1,4,0,1,0,1,0,1,1,2,0,1,1,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9558,HOBBIES_1_420_CA_4_validation,HOBBIES_1_420,HOBBIES_1,HOBBIES,CA_4,CA,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9559,HOBBIES_1_421_CA_4_validation,HOBBIES_1_421,HOBBIES_1,HOBBIES,CA_4,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1,0,2,1,1,0,2,0,1,0,3,0,1,1,1,1
9560,HOBBIES_1_422_CA_4_validation,HOBBIES_1_422,HOBBIES_1,HOBBIES,CA_4,CA,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
9561,HOBBIES_1_423_CA_4_validation,HOBBIES_1_423,HOBBIES_1,HOBBIES,CA_4,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,3,1,0,0,2,1,1,0,1,1,3,1,1,0,0,0,1,1,3,2,0,1,1,1
9562,HOBBIES_1_424_CA_4_validation,HOBBIES_1_424,HOBBIES_1,HOBBIES,CA_4,CA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,3,3,0,2,3,0,0,0,0,0,0,2,1,3,2,0,0,0,0,3,0,0,1,7